/*drag n drop zone buttons*/
.column-icons {
    /* display: flex; */
    position: relative;

    /* width: fit-content; */
    /* height: 48px; */
    /* height: 32px; */
    height: auto;

    padding: 4px;
}
/* .column-icon:first-child {
    margin-left: 0;
} */
.column-icon {
    background-color: #e61c23;
    border: 1px solid #e61c23;

    display: inline-block;
    vertical-align: middle;

    /* margin-left: 1px; */

    /* width: 32px;
	height: 32px; */
    width: 30px;
    height: 30px;

    padding: 0;
}
.icon-container {
    width: 100%;
}
.icon-row:first-child {
    border-top: 0;
}
.icon-row>* {
    max-width: 100%;
}
.icon-row {
    border-top: 2px solid #e61c23;
    display: flex;
    flex-wrap: wrap;
}
.icon-col-12 {
    flex: 0 0 auto;
    width: 100%;
}
.icon-col-3 {
    flex: 0 0 auto;
    width: 19%;
}
.icon-col-4 {
    flex: 0 0 auto;
    width: 33.33333333%;
}
.icon-col-6 {
    flex: 0 0 auto;
    width: 50%;
}
.icon-col {
    flex: 1 0 0;
}

/* .icon-row specifics */
.half-col-top-bottom .icon-row,
.top-1-3-col-center-w-bottom-1-col .icon-row,
.top-1-3-col-center .icon-row,
.four-col-equal-square .icon-row,
.four-col-equal .icon-row,
.left-2-col-w-right-1-col .icon-col-6 .icon-row,
.half-1-col-left-w-right-2-col .icon-row,
.top-1-col-w-bottom-1-3-center .icon-row {
    /* height: 18px; */
    height: 14px;
}
.four-col-equal-top-bottom .icon-row {
    /* height: 9px; */
    height: 7px;
}
.three-col-equal-top-bottom .icon-row,
.left-3-col-w-half-1-col-right .icon-col-6 .icon-row,
.half-1-col-left-w-right-3-col .icon-col-6 .icon-row,
.top-1-col-w-center-1-3-center-w-bottom-1-col .icon-row {
    /* height: 12px; */
    height: 9.4px;
}
.four-col-equal .icon-row,
.three-col-equal .icon-row,
.half-col-equal .icon-row,
.left-3-col-w-half-1-col-right .icon-row,
.half-1-col-left-w-right-3-col .icon-row,
.left-2-col-w-right-1-col .icon-row,
.whole-1-col .icon-row {
    /* height: 36px; */
    height: 28px;
}
.four-col-equal .icon-col-3:first-child,
.four-col-equal-square .icon-col-6:first-child,
.four-col-equal .icon-col:first-child,
.three-col-equal .icon-col-4:first-child,
.half-col-equal .icon-col-6:first-child,
.left-3-col-w-half-1-col-right .icon-col-6:first-child,
.half-1-col-left-w-right-3-col .icon-col-6:first-child,
.four-col-equal .icon-col-6:first-child,
.left-2-col-w-right-1-col .icon-col-6:first-child,
.half-1-col-left-w-right-2-col .icon-col-6:first-child {
    margin-left: 0;
}
.four-col-equal .icon-col-3,
.four-col-equal-square .icon-col-6,
.four-col-equal .icon-col,
.three-col-equal .icon-col-4,
.half-col-equal .icon-col-6,
.left-3-col-w-half-1-col-right .icon-col-6,
.half-1-col-left-w-right-3-col .icon-col-6,
.four-col-equal .icon-col-6,
.left-2-col-w-right-1-col .icon-col-6,
.half-1-col-left-w-right-2-col .icon-col-6 {
    margin-left: 2px;
}

/* .icon-col-6 specifics */
.four-col-equal-square .icon-col-6,
.half-col-equal .icon-col-6,
.left-3-col-w-half-1-col-right .icon-col-6,
.half-1-col-left-w-right-3-col .icon-col-6,
.four-col-equal .icon-col-6,
.left-2-col-w-right-1-col .icon-col-6,
.half-1-col-left-w-right-2-col .icon-col-6 {
    /* width: 47%; */
    width: 46%;
}

/* .icon-col-4 specifics */
.three-col-equal .icon-col-4 {
    /* width: 29.33333333%; */
    width: 28.33333333%;
}
/* .icon-col specifics */
.four-col-equal-top-bottom .icon-col:first-child,
.three-col-equal-top-bottom .icon-col:first-child,
.half-col-top-bottom .icon-col:first-child {
    margin-top: 0;
}
.four-col-equal-top-bottom .icon-col,
.three-col-equal-top-bottom .icon-col,
.half-col-top-bottom .icon-col {
    margin-top: 2px;
}

.half-1-col-left-w-right-2-col .icon-container {
    margin: -14px 0 0 0;
}

[dnd-layout-disable] button {
    cursor: not-allowed;
}
[dnd-layout-disable] button .icon-col-bg {
    opacity: 0.5;
}
button.column-icon {
    border-radius: 3px;
    /* outline: 1px solid white; */
    /* margin: 0 1px; */
}
/* button.column-icon:hover {
    outline-color: rgba(255, 255, 255, 0.8);
} */
button.column-icon:hover .icon-col-bg {
    opacity: 0.8;
}
button.column-icon .icon-col-bg {
    border-radius: 3px;
}
/*end drag n drop zone buttons*/ 
.dnd-plugins-content .row {
    margin-bottom: 15px;
}
.dnd-plugins-content .row:last-child {
    margin-bottom: 0;
}
.dnd-plugins-content .row:last-child .dnd-arrow-down,
.dnd-plugins-content .row:first-child .dnd-arrow-up {
    display: none;
}
.melis-dragdropzone-container {
    position: relative;
}
.dnd-layout-buttons {
    /* top: -56px; */
    top: 0;
    left: 7px;

    padding: 4px 12px;
    border-radius: 3px;

    min-height: 32px;
    height: auto;
    width: auto;
}
.dnd-layout-buttons > div {
    vertical-align: middle;
}
.dnd-layout-buttons .fa {
    color: #fff;
}
.dnd-layout-buttons .btn:first-child {
    margin-left: 0.5rem;
}
.dnd-layout-buttons .btn {
    display: inline-block;
    padding: 0.2rem 0.5rem;
    border-radius: 0;
    position: relative;
    margin-right: 0.5rem;
}
.dnd-layout-buttons .btn:hover {
    background-color: #cf1d23;
}
.dnd-layout-buttons .layout-popover {
    display: none;
}
.melis-dragdropzone-container .dnd-layout-wrapper {
    outline: 1px dashed #ce5459;
    padding: 1rem 0;
    margin: 0 0.5rem;
}
.melis-dragdropzone-container > .dnd-layout-wrapper:hover {
    outline-width: 2px;
}
.dnd-layout-wrapper .dnd-layout-wrapper {
    outline: none;
    /* pointer-events: none; */
}
.dnd-layout-wrapper .dnd-layout-wrapper .dnd-layout-buttons,
.dnd-layout-wrapper .dnd-layout-wrapper .dnd-layout-indicator {
    display: none;
}
.dnd-layout-wrapper .melis-dragdropzone:hover {
    z-index: 999;
}
.melis-dragdropzone-container > .dnd-layout-wrapper > .dnd-layout-indicator {
    background-color: #ce5459 !important;
    opacity: 0;
    z-index: 9999;
    top: -5px !important;
    left: 5px !important;

    transform: translate3d(-100%, 0, 0);
    -webkit-transform: translate3d(-100%, 0, 0);
    -moz-transform: translate3d(-100%, 0, 0);
    -ms-transform: translate3d(-100%, 0, 0);

    transition: opacity 0.4s, transform 0.4s;
    -webkit-transition: opacity 0.4s, transform 0.4s;
    -ms-transition: opacity 0.4s, transform 0.4s;
    
    -webkit-transition-delay: 0.1s;
    -moz-transition-delay: 0.1s;
    -o-transition-delay: 0.1s;
}
.dnd-layout-buttons .dnd-column-layout,
.dnd-layout-buttons .column-icons {
    display: inline-block;
    width: fit-content;
    padding: 0;
    /* margin: 0.5rem 1rem 0; */
    margin-right: 1rem;
}
.dnd-layout-buttons .dnd-column-layout:last-child {
    margin-right: 0;
}
/* .column-icons > div:nth-child(5), */
/* .column-icons > div:first-child {
    margin-left: 0;
} */
.dnd-layout-buttons .dnd-column-layout,
.column-icons > div {
    display: inline-block;
    height: 30px;
    /* margin-left: 10px;
    height: auto; */
}
.dnd-layout-wrapper > .dnd-layout-buttons {
    background-color: #e61c23;
}
.dnd-plugin-sub-tools {
    display: inline-block;
    vertical-align: top;
}

/* .dnd-layout-wrapper .dnd-layout-wrapper > .dnd-layout-buttons,
.dnd-layout-wrapper .dnd-layout-wrapper > .melis-plugin-indicator {
    opacity: 0;
} */

.dnd-layout-wrapper .dnd-layout-buttons {
    opacity: 0;
    position: absolute;
    z-index: 999;

    transition: opacity 0.4s;
    -webkit-transition: opacity 0.4s;
    -ms-transition: opacity 0.4s;
    
    -webkit-transition-delay: 0.1s;
    -moz-transition-delay: 0.1s;
    -o-transition-delay: 0.1s;
    transition-delay: 0.1s;
}
.show-buttons {
    opacity: 1 !important;
}
.dnd-bottom-buttons {
    display: none;
    
    right: 0;
    bottom: -40px;
}
.dnd-4-cols-3-cols-left-w-1-col-right .row,
.dnd-4-cols-1-col-left-w-3-cols-right .row {
    height: 33.33%;
    margin-bottom: 0;
}
.dnd-3-cols-2-cols-left-w-1-col-right .row,
.dnd-3-cols-1-col-left-w-2-cols-right .row {
    height: 50%;
}
.dnd-3-cols-2-cols-left-w-1-col-right .row:first-child,
.dnd-3-cols-1-col-left-w-2-cols-right .row:first-child {
    margin-bottom: 9px;
}
.dnd-4-cols-3-cols-left-w-1-col-right .melis-dragdropzone,
.dnd-4-cols-1-col-left-w-3-cols-right .melis-dragdropzone {
    min-height: 62px;
}
.dnd-3-cols-2-cols-left-w-1-col-right .melis-dragdropzone,
.dnd-3-cols-1-col-left-w-2-cols-right .melis-dragdropzone {
    min-height: 100px;
}
.dnd-4-cols-3-cols-left-w-1-col-right .melis-dragdropzone::before,
.dnd-4-cols-1-col-left-w-3-cols-right .melis-dragdropzone::before {
    top: -20%;
}
.dnd-3-cols-2-cols-left-w-1-col-right .melis-dragdropzone::before,
.dnd-3-cols-1-col-left-w-2-cols-right .melis-dragdropzone::before {
    top: 5%;
}
.dnd-4-cols-3-cols-left-w-1-col-right .melis-dragdropzone::after,
.dnd-4-cols-1-col-left-w-3-cols-right .melis-dragdropzone::after {
    top: -20%;
    height: 30px;
    font-size: 20px;
}
.dnd-3-cols-2-cols-left-w-1-col-right .melis-dragdropzone::after,
.dnd-3-cols-1-col-left-w-2-cols-right .melis-dragdropzone::after {
    top: 25%;
    font-size: 20px;
}
.melis-dragdropzone {
    bottom: 0;
    margin-bottom: 0;
}
.melis-dragdropzone:hover {
    outline: 1px solid #e61c23;
    box-shadow: 0 0 0 1px #e61c23;
    -webkit-box-shadow: 0 0 0 1px #e61c23;
    -moz-box-shadow: 0 0 0 1px #e61c23;
    -ms-box-shadow: 0 0 0 1px #e61c23;
    z-index: 999999;
}
.dnd-layout-wrapper:hover .m-plugin-sub-tools div {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
}
.dnd-layout-wrapper:hover > .melis-plugin-indicator {
    opacity: 1;

    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
}
.dnd-layout-wrapper > .m-plugin-sub-tools {
    background: transparent !important;
    margin-left: 0;
    width: 40px;
    position: relative;
    top: -12px;
}
.dnd-layout-wrapper > .m-plugin-sub-tools div {
    width: 40px;
    height: 40px;
}
.dnd-layout-wrapper > .m-plugin-sub-tools div .fa {
    top: auto;
    left: auto;
    right: auto;
    position: relative;

    transform: none;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
}
.dnd-layout-wrapper > .m-plugin-sub-tools .m-move-handle {
    display: inline-block;
    float: none;
    opacity: 1;

    transform: none;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;

    transition: none;
    -webkit-transition: none;
    -ms-transition: none;

    -webkit-transition-delay: unset;
    -moz-transition-delay: unset;
    -o-transition-delay: unset;
    transition-delay: unset;

    transition-timing-function: unset;
    -webkit-transition-timing-function: unset;
    -moz-transition-timing-function: unset;
}
.bg-red {
    background-color: #e61c23;
    border-color: #e61c23;
}
.dnd-layout-buttons-popover {
    border-radius: 3px;
    max-width: 355px;
    z-index: 99999;
}
.dnd-layout-buttons-popover .popover-body {
    position: relative;
    padding: 0;
}
.dnd-layout-buttons-popover .popover-arrow::after,
.dnd-layout-buttons-popover .popover-arrow::before {
    --bs-popover-bg: #373736;
}
.dnd-layout-buttons-popover header {
    background-color: #373736;
    padding: 0.5rem 1rem;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
.dnd-layout-buttons-popover header h5,
.dnd-layout-buttons-popover header .close-btn {
    color: #fff;
}
.dnd-layout-buttons-popover header .close-btn {
    margin-right: -0.5rem;
}
.dnd-layout-buttons-popover header .close-btn:active,
.dnd-layout-buttons-popover header .close-btn {
    border-color: transparent;
}
.dnd-layout-buttons-popover header .close-btn:hover {
    color: #fff;
}
.dnd-layout-buttons-popover header h5 {
    font-size: 1rem;
    font-weight: normal;
    margin-bottom: 0;

    display: flex;
    align-items: center;
}
.dnd-layout-buttons-popover .column-icons {
    display: block;
    width: 355px;
    height: auto;
    padding: 1rem;
}