/*drag n drop zone buttons*/
.column-icons {
    display: flex;
    position: relative;

    width: fit-content;
    height: 48px;

    padding: 4px;
}
.column-icon:first-child {
    margin-left: 0;
}
.column-icon {
    background-color: #e61c23;
    border: 2px solid #e61c23;

    display: inline-block;

    margin-left: 2px;

    width: 40px;
    height: 40px;

    padding: 0;
}
.icon-container {
    width: 100%;
}
.icon-row:first-child {
    border-top: 0;
}
.icon-row>* {
    max-width: 100%;
}
.icon-row {
    border-top: 2px solid #e61c23;
    display: flex;
    flex-wrap: wrap;
}
.icon-col-12 {
    flex: 0 0 auto;
    width: 100%;
}
.icon-col-4 {
    flex: 0 0 auto;
    width: 33.33333333%;
}
.icon-col-6 {
    flex: 0 0 auto;
    width: 50%;
}
.icon-col {
    flex: 1 0 0;
}

/* .icon-row specifics */
.half-col-top-bottom .icon-row,
.top-1-3-col-center-w-bottom-1-col .icon-row,
.top-1-3-col-center .icon-row,
.four-col-equal-square .icon-row,
.four-col-equal .icon-row,
.left-2-col-w-right-1-col .icon-col-6 .icon-row,
.half-1-col-left-w-right-2-col .icon-row,
.top-1-col-w-bottom-1-3-center .icon-row {
    height: 18px;
}
.four-col-equal-top-bottom .icon-row {
    height: 9px;
}
.three-col-equal-top-bottom .icon-row,
.left-3-col-w-half-1-col-right .icon-col-6 .icon-row,
.half-1-col-left-w-right-3-col .icon-col-6 .icon-row,
.top-1-col-w-center-1-3-center-w-bottom-1-col .icon-row {
    height: 12px;
}
.four-col-equal .icon-row,
.three-col-equal .icon-row,
.half-col-equal .icon-row,
.left-3-col-w-half-1-col-right .icon-row,
.half-1-col-left-w-right-3-col .icon-row,
.left-2-col-w-right-1-col .icon-row,
.whole-1-col .icon-row {
    height: 36px;
}
.four-col-equal-square .icon-col-6:first-child,
.four-col-equal .icon-col:first-child,
.three-col-equal .icon-col-4:first-child,
.half-col-equal .icon-col-6:first-child,
.left-3-col-w-half-1-col-right .icon-col-6:first-child,
.half-1-col-left-w-right-3-col .icon-col-6:first-child,
.four-col-equal .icon-col-6:first-child,
.left-2-col-w-right-1-col .icon-col-6:first-child,
.half-1-col-left-w-right-2-col .icon-col-6:first-child {
    margin-left: 0;
}
.four-col-equal-square .icon-col-6,
.four-col-equal .icon-col,
.three-col-equal .icon-col-4,
.half-col-equal .icon-col-6,
.left-3-col-w-half-1-col-right .icon-col-6,
.half-1-col-left-w-right-3-col .icon-col-6,
.four-col-equal .icon-col-6,
.left-2-col-w-right-1-col .icon-col-6,
.half-1-col-left-w-right-2-col .icon-col-6 {
    margin-left: 2px;
}

/* .icon-col-6 specifics */
.four-col-equal-square .icon-col-6,
.half-col-equal .icon-col-6,
.left-3-col-w-half-1-col-right .icon-col-6,
.half-1-col-left-w-right-3-col .icon-col-6,
.four-col-equal .icon-col-6,
.left-2-col-w-right-1-col .icon-col-6,
.half-1-col-left-w-right-2-col .icon-col-6 {
    width: 47%;
}

/* .icon-col-4 specifics */
.three-col-equal .icon-col-4 {
    width: 29.33333333%;
}
/* .icon-col specifics */
.four-col-equal-top-bottom .icon-col:first-child,
.three-col-equal-top-bottom .icon-col:first-child,
.half-col-top-bottom .icon-col:first-child {
    margin-top: 0;
}
.four-col-equal-top-bottom .icon-col,
.three-col-equal-top-bottom .icon-col,
.half-col-top-bottom .icon-col {
    margin-top: 2px;
}

.half-1-col-left-w-right-2-col .icon-container {
    margin: -18px 0 0 0;
}
/*end drag n drop zone buttons*/

.dnd-layout-wrapper,
.melis-dragdropzone-container {
    position: relative;
}
.dnd-layout-buttons {
    width: fit-content;

    /* top: -23px;
    left: 0; */
    top: -40px;
    left: 0;

    padding: 0.5rem 1rem;
    border-radius: 3px;
}
.dnd-layout-buttons .fa {
    color: #fff;
}
.dnd-layout-buttons .btn {
    padding: 0 0.5rem;
    border-radius: 0;
    position: relative;
    z-index: inherit;
}
.dnd-layout-buttons .btn:hover {
    background-color: #cf1d23;
}
.dnd-layout-buttons .layout-popover {
    display: none;
}
.dnd-layout-wrapper {
    outline: 1px dashed transparent;
    padding: 1rem 0;
}
.dnd-layout-wrapper:hover {
    outline-color: #2b87da
}
.dnd-layout-wrapper .dnd-layout-wrapper {
    outline: 1px dashed transparent;
}
.dnd-layout-wrapper .dnd-layout-wrapper:hover {
    outline-color: #4c5866;
}
.dnd-layout-wrapper > .dnd-layout-buttons {
    background-color: #e61c23;
}
.dnd-layout-wrapper .dnd-bottom-buttons,
.dnd-layout-wrapper .dnd-layout-buttons {
    display: none;
    position: absolute;
    z-index: 999;

    transition: opacity 0.4s;
    -webkit-transition: opacity 0.4s;
    -ms-transition: opacity 0.4s;
    
    -webkit-transition-delay: 0.1s;
    -moz-transition-delay: 0.1s;
    -o-transition-delay: 0.1s;
    transition-delay: 0.1s;
}
.show-buttons {
    opacity: 1 !important;
}
.dnd-bottom-buttons {
    /* right: 0;
    bottom: -67px; */
    
    right: 0;
    /* bottom: -25px; */
    bottom: -40px;
}
button.dnd-plus-button,
button.dnd-arrow-button {
    background-color: #e61c23;
    width: 60px;
    height: 42px;
    position: relative;
}
button.dnd-arrow-button {
    float: left;
}
button.dnd-plus-button {
    margin-left: 2px;
    float: right;
}
button.dnd-arrow-button .fa,
button.dnd-plus-button .fa {
    color: #fff;

    display: flex;
    justify-content: center;
    align-items: center;

    height: 42px;
}
button.dnd-arrow-button .fa {
    font-size: 25px;
}
button.dnd-arrow-button,
button.dnd-plus-button {
    border-color: transparent;
}
button.dnd-arrow-button:hover,
button.dnd-plus-button:hover {
    border-color: #e61c23;
}
button.dnd-arrow-button:hover .fa,
button.dnd-plus-button:hover .fa {
    color: #e61c23;
}
/* button.column-icon:hover */
button.dnd-arrow-button:hover,
button.dnd-plus-button:hover {
    background-color: #fff;
}
/* button.column-icon:hover {
    border-color: #fff;
}
button.column-icon:hover .icon-row {
    border-color: #fff;
} */
.melis-dragdropzone {
    bottom: 0;
}
.melis-dragdropzone:hover {
    outline: 1px solid #e61c23;
    box-shadow: 0 0 0 1px #e61c23;
    -webkit-box-shadow: 0 0 0 1px #e61c23;
    -moz-box-shadow: 0 0 0 1px #e61c23;
    -ms-box-shadow: 0 0 0 1px #e61c23;
    z-index: 999999;
}
.dnd-layout-wrapper:hover .dnd-layout-indicator {
    opacity: 0;

    transform: translate3d(-100%, 0, 0);
    -webkit-transform: translate3d(-100%, 0, 0);
    -moz-transform: translate3d(-100%, 0, 0);
    -ms-transform: translate3d(-100%, 0, 0);
}
.bg-red {
    background-color: #e61c23;
    border-color: #e61c23;
}
.dnd-layout-buttons-popover {
    border-radius: 3px;
    max-width: 400px;
}
.dnd-layout-buttons-popover .popover-body {
    position: relative;
    padding: 0;
}
.dnd-layout-buttons-popover .popover-arrow::after,
.dnd-layout-buttons-popover .popover-arrow::before {
    --bs-popover-bg: #373736;
}
.dnd-layout-buttons-popover header {
    background-color: #373736;
    padding: 0.5rem 1rem;
}
.dnd-layout-buttons-popover header h5,
.dnd-layout-buttons-popover header .close-btn {
    color: #fff;
}
.dnd-layout-buttons-popover header .close-btn {
    margin-right: -0.5rem;
}
.dnd-layout-buttons-popover header .close-btn:active,
.dnd-layout-buttons-popover header .close-btn {
    border-color: transparent;
}
.dnd-layout-buttons-popover header .close-btn:hover {
    color: #fff;
}
.dnd-layout-buttons-popover header h5 {
    font-size: 1rem;
    font-weight: normal;
    margin-bottom: 0;

    display: flex;
    align-items: center;
}
.dnd-layout-buttons-popover .column-icons {
    height: auto;
    padding: 1rem 2rem;
}
.dnd-layout-buttons-popover .column-icons {
    display: block;
    width: 400px;
}
.column-icons > div {
    margin: 1rem 2rem 1rem;
    display: inline-block;
}