body {
    position: relative;
}
.melis-cms-dnd-box {
    position: fixed;
    top: 0;
    right: -4px;
    width: 200px;
    height: 100%;
    font-family: 'Lato', sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 14px;
    line-height: 25px;	
    border-bottom: 4px solid #e61c23;
    border-left: 4px solid #e61c23;
    background: #373737;
    transform: translate3d(200px, 0, 0);
    -webkit-transform: translate3d(200px, 0, 0);
    -moz-transform: translate3d(200px, 0, 0);
    -ms-transform: translate3d(200px, 0, 0);
    transition: transform 0.4s, height 0.4s;
    -webkit-transition: transform 0.4s, height 0.4s;
    -moz-transition: transform 0.4s, height 0.4s;
    z-index: 9999999; 
}
.melis-cms-dnd-box.show {
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0); 
}

.melis-cms-dnd-box #melisPluginBtn {
    position: absolute;
    top: 50px;
    left: -44px;
    padding: 8px 10px 5px;
    background-color: #e61c23;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    color: #fff;
    cursor: pointer; 
}

.melis-cms-dnd-fix-menu {
    height: 100%;
    overflow-y: auto;
}

.melis-cms-dnd-box #melisPluginBtn {
    position: absolute;
    top: 50px;
    left: -44px;
    padding: 8px 10px 5px;
    background-color: #e61c23;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    color: #fff;
    cursor: pointer; 
}

.melis-cms-dnd-box #melisPluginBtn .fa {
    font-size: 20px; 
}

.melis-cms-dnd-fix-menu.show {
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0); }

.melis-cms-plugin-snippets,
.melis-cms-category-plugins {
  position: relative;
  padding: 15px 0 10px;
  border-bottom: 1px solid #3e3e3e;
  background: #2c2c2c;
  text-align: center;
  opacity: 0.4;
  cursor: pointer; 
  transition: opacity 0.4s, background 0.4s;
  -webkit-transition: opacity 0.4s, background 0.4s;
  -moz-transition: opacity 0.4s, background 0.4s;
}
.melis-cms-category-plugins {
    border-bottom: 1px solid #3e3e3e;
    background: #131313;
}
.melis-cms-category-plugins:hover {
    background: #b33a35;
    opacity: 1;
}
.melis-cms-plugin-snippets:hover {
    opacity: 1;
    background: #e61c23;
}
.melis-cms-plugin-snippets:hover img,
.melis-cms-category-plugins:hover img {
    transform: scale(0.8);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
}

.melis-cms-plugin-snippets img,
.melis-cms-category-plugins img {
    border-radius: 2px;
    transition: transform 0.4s;
    -webkit-transition: transform 0.4s;
    -moz-transition: transform 0.4s;
    transition: transform 0.4s;
    transform: scale(0.8);
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
}

.melis-cms-plugin-snippets:last-child {
    margin-bottom: 0;
}

.melis-cms-plugin-title {
    display: block;
    margin-top: 10px;
    color: #fff;
    letter-spacing: 0.4px;
    font-size: 10px;
    transition: color 0.4s;
    -webkit-transition: color 0.4s;
    -moz-transition: color 0.4s;
}

.melis-cms-ps-box {

}

.melis-cms-plugin-filter-box .melis-cms-ps-box:first-child {
    border-top: 1px solid #2c2c2c;
}

.melis-cms-ps-box .melis-cms-filter-btn,
.melis-cms-category-btn {
    display: block;
    position: relative;
    padding: 7px 15px;
    font-weight: normal;
    letter-spacing: 1px;
    color: #fff;
    font-size: 10px;
    letter-spacing: 1px;
    border-radius: 2px;
    border-bottom: 1px solid #2c2c2c;
    background: #373737;
    transition: background 0.4s;
    -webkit-transition: background 0.4s, border 0.4s;
    -moz-transition: background 0.4s, border 0.4s;
    -ms-transition: background 0.4s, border 0.4s;
    cursor: pointer;
}

.melis-cms-ps-box .melis-cms-filter-btn:hover,
.melis-cms-category-btn:hover {
    background: #2c2c2c;
    border-color: #2c2c2c;
}

.melis-cms-ps-box .melis-cms-filter-btn.active,
.melis-cms-category-btn.active {
    background: #e61c23;
    border-color: #e61c23;
}

.melis-cms-ps-box .melis-cms-filter-btn.active .fa,
.melis-cms-category-btn.active .fa {
    transform: rotateZ(-90deg);
    -webkit-transform: rotateZ(-90deg);
    -moz-transform: rotateZ(-90deg);
    -ms-transform: rotateZ(-90deg);
}

.melis-cms-ps-box .melis-cms-filter-btn .fa,
.melis-cms-category-btn .fa {
    position: absolute;
    top: 8px;
    right: 15px;
    font-size: 20px;
    transition: transform 0.4s;
}
.melis-cms-category-btn .fa {
    font-size: 14px;
    top: 9px;
}

.melis-cms-plugin-snippets-box {
    display: none;
    background: #2c2c2c;
}

.melis-plugin-tooltip {
    position: absolute;
    right: calc(100% + 20px);
    background: #212121;
    color: #fff;
    line-height: 1.2;
    font-size: 12px;
    width: 280px;
    padding: 20px;
    border-radius: 4px;
    opacity: 1;
    z-index: 99999999;
    box-shadow: 0px 0px 2px rgba(0,0,0,0.6);
}

.ui-widget.ui-widget-content.melis-plugin-tooltip {
    border: none;
}

.melis-plugin-tooltip {
    font-family: Lato;
    font-size: 12px;
    letter-spacing: 0.4px;
    line-height: 1.3;
    font-weight: normal;  
}


.ui-tooltip-content {

}

.melis-plugin-tooltip:after {
    left: 100%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(33, 33, 33, 0);
    border-left-color: #212121;
    border-width: 10px;
    margin-top: -10px;
}

.melis-cms-dnd-title {
    background: #e61c23;
    color: #fff;
    line-height: 47px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 700;
    padding: 0 15px;
    letter-spacing: 4px;
    text-align: center;
    font-size: 12px;
}

.melis-cms-category-btn {
    padding: 4px 15px 4px 30px;
    font-size: 10px;
}
.melis-cms-category-btn:hover {
    border-color: #373737;

}
.melis-cms-category-btn.active {
    background: #b33a35;
    border-color: #b33a35;
    -webkit-box-shadow: inset 0px 2px 4px rgba(34, 34, 34, 0.4);
    -moz-box-shadow: inset 0px 2px 4px rgba(34, 34, 34, 0.4);
    box-shadow: inset 0px 2px 4px rgba(34, 34, 34, 0.4);
}

.melis-cms-category-plugins-box {
    display: none;
    border-bottom: 1px solid rgb(179, 58, 53);
}


/* webkit scrollbar fix */
::-webkit-scrollbar {
    width: 12px;
    height: 14px;
    background: transparent;
    -webkit-appearance: none;
}

::-webkit-scrollbar-track-piece{
    background: transparent;
}
 
::-webkit-scrollbar-track {
    background: #fff;
}
 
::-webkit-scrollbar-thumb {
    min-height: 48px;
    background: #e61c23;
    background-clip: padding-box;
    border: 3px solid #fff;
    border-radius: 5px;
}


/* Plugin Mini Menu */
.plugin-hardcoded-conf {
  display: none;
   font-family: 'Lato', sans-serif;
   font-weight: normal;
   font-style: normal;
   font-size: 14px;
   line-height: 25px;	
}
.melis-dragdropzone .melis-ui-outlined:after {
  content: "";
  clear: both;
  display: block;
}
/* Mini Menu */
.melis-ui-outlined {
    position: relative;
    z-index: 1;
    min-width: 150px;
    transition-property: outline-color, transform;
    transition-duration: 0.4s, 0.4s;
    font-family: 'Lato', sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 14px;
    line-height: 25px;
    transition: all 0.4s ease-in-out;
    /* added by: Junry @ 02082019*/
    width: inherit;
}
.melis-ui-outlined.ui-sortable-helper,
.melis-ui-outlined.ui-resizable-resizing {
    transition: none;
}

.melis-ui-outlined:after {
  content: "";
  clear: both;
  display: initial;
}
.melis-ui-outlined.melis-focus .melis-plugin-indicator {
  opacity: 0;
  transform: translate3d(-100%, 0, 0);
  -webkit-transform: translate3d(-100%, 0, 0);
  -moz-transform: translate3d(-100%, 0, 0);
  -ms-transform: translate3d(-100%, 0, 0);
}
.ui-sortable-helper {
  z-index: 999999999;
}
.melis-ui-outlined.ui-sortable-helper .m-plugin-sub-tools,
.melis-ui-outlined.ui-sortable-helper .melis-plugin-tools-box,
.melis-ui-outlined.ui-sortable-helper .melis-plugin-indicator {
  display: none;
}
.melis-ui-outlined.ui-sortable-helper,
.melis-ui-outlined.ui-sortable-helper.zMax {
  z-index: 99999991 !important;
/*   -webkit-transform:  scale(0.5) translate3d(-50%, -50%, 0);
-moz-transform:  scale(0.5) translate3d(-50%, -50%, 0);
-ms-transform:  scale(0.5) translate3d(-50%, -50%, 0);
transform:  scale(0.5) translate3d(-50%, -50%, 0); */
  -webkit-transform:  scale(0.2) translate3d(-200%, -200%, 0);
  -moz-transform:  scale(0.2) translate3d(-200%, -200%, 0);
  -ms-transform:  scale(0.2) translate3d(-200%, -200%, 0);
  transform:  scale(0.2) translate3d(-200%, -200%, 0);
   -webkit-backface-visibility: hidden; 
  backface-visibility: hidden; 
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-font-smoothing: subpixel-antialiased;
  -ms-font-smoothing: subpixel-antialiased;
  font-smoothing: subpixel-antialiased;
  -webkit-filter: blur(0);
}
.melis-ui-outlined.zMax {
  /*z-index: 999999;*/
}
.melis-ui-outlined .melis-plugin-tools-box {
  opacity: 0; 
  visibility: hidden;
}

.melis-ui-outlined:hover {
    /*outline: 1px solid #e61c23; */
    box-shadow: 0 0 0 1px #e61c23;
    -webkit-box-shadow: 0 0 0 1px #e61c23;
    -moz-box-shadow: 0 0 0 1px #e61c23;
    -ms-box-shadow: 0 0 0 1px #e61c23;
  z-index: 9999996 !important;
}

.melis-ui-outlined:hover .m-plugin-sub-tools {
  opacity: 1; 
}

.melis-ui-outlined:hover .melis-plugin-tools-box {
  opacity: 1; 
  visibility: visible;
    z-index: 999;
}

.melis-ui-outlined:hover .m-plugin-sub-tools div {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0); 
}

.melis-ui-outlined:hover .melis-plugin-indicator {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
    -webkit-transform: translate3d(-100%, 0, 0);
    -moz-transform: translate3d(-100%, 0, 0);
    -ms-transform: translate3d(-100%, 0, 0);
}

.melis-plugin-tools-box {
    position: absolute;
    top: -40px;
    background: #e61c23;
    padding: 4px 12px;
    width: auto;
    height: 40px;
    left: -1px;
    border-radius: 2px;
    opacity: 0;
    transition-property: opacity;
    transition-duration: 0.4s;
}

.melis-plugin-title-box {
    display: inline-block;
    color: #fff;
    text-align: left;
}

.melis-plugin-title-box .melis-module-title {
    display: block;
    line-height: 1.4;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 0.4px;
    color: #ffa4a7;
    font-size: 10px;
}

.melis-plugin-title-box .melis-plugin-title {
    display: block;
    line-height: 1;
    margin-top: 1px;
    letter-spacing: 0.4px;
    font-size: 13px;
}

.m-plugin-sub-tools {
    display: inline-block;
    margin-left: 15px;
    background: #e61c23;
}

.m-plugin-sub-tools div {
    position: relative;
    float: left;
    width: 30px;
    height: 20px;
    color: #fff;
    text-align: center;
    font-size: 14px;
    opacity: 0;
    transform: translate3d(0, 5px, 0);
    -webkit-transform: translate3d(0, 5px, 0);
    -moz-transform: translate3d(0, 5px, 0);
    -ms-transform: translate3d(0, 5px, 0);
    transition: opacity 0.4s, transform 0.4s;
    -webkit-transition: opacity 0.4s, transform 0.4s;
    -ms-transition: opacity 0.4s, transform 0.4s;
    -webkit-transition-delay: 0.1s;
    -moz-transition-delay: 0.1s;
    -o-transition-delay: 0.1s;
    transition-delay: 0.1s;
    transition-timing-function: ease-out;
    -webkit-transition-timing-function: ease-out;
    -moz-transition-timing-function: ease-out; 
}

.m-plugin-sub-tools div .fa {
  position: absolute;
  top: 50%;
  margin: 0 auto;
  left: 0;
  right: 0;
  transform: translateY(-50%); 
  -webkit-transform: translateY(-50%); 
  -moz-transform: translateY(-50%); 
  -ms-transform: translateY(-50%); 
}

.m-plugin-sub-tools div.m-move-handle {
  cursor: move; 
}

.m-plugin-sub-tools div.m-options-handle {
  cursor: pointer;
  -webkit-transition-delay: 0.2s;
  -moz-transition-delay: 0.2s;
  -o-transition-delay: 0.2s;
  transition-delay: 0.2s; 
}

.m-plugin-sub-tools div.m-trash-handle {
  cursor: pointer;
  -webkit-transition-delay: 0.3s;
  -moz-transition-delay: 0.3s;
  -o-transition-delay: 0.3s;
  transition-delay: 0.3s;
}

.m-plugin-sub-tools div.m-duplicate-handle {
  cursor: pointer;
  -webkit-transition-delay: 0.4s;
  -moz-transition-delay: 0.4s;
  -o-transition-delay: 0.4s;
  transition-delay: 0.4s; 
}

.melis-plugin-indicator {
    position: absolute;
    top: -20px;
    left: 0;
    width: 40px;
    height: 40px;
    line-height: 40px;
    background: #e61c23;
    box-shadow: 0 0 2px rgba(0,0,0,0.6);
    color: #fff;
    text-align: center;
    border-radius: 100%;
    z-index: 999;
    transition: opacity 0.4s, transform 0.4s;
    -webkit-transition: opacity 0.4s, transform 0.4s;
    -ms-transition: opacity 0.4s, transform 0.4s;
    -webkit-transition-delay: 0.1s;
    -moz-transition-delay: 0.1s;
    -o-transition-delay: 0.1s;
}

.ui-sortable-helper {
    background: #fff;
    border: 4px solid #e61c23;
}

.ui-sortable-helper:after {
    /*content: "\f1e6";*/
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    position: absolute;
    font-size: 50px;
    color: #a2413d;
    top: 50%;
    left: 0;
    right: 0;
    z-index: 1;
    display: block;
    text-align: center;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
}
.ui-sortable-placeholder.ui-state-highlight {
  padding: 0;
  margin: 0 0 20px;
  background: #e61c23;
  transition: all 0.4s ease-in-out;
  height: 40px;
  /*background: rgba(255, 255, 255, 0.4);*/
}

.melis-float-plugins .ui-state-highlight {
    float: left;
}

.melis-loader {
  position: relative;
}
.melis-loader #loader {
  min-height: 50px;
  position: absolute;
  z-index: 999999999;
  width: 100%;
  height: 100%;
  background: #e61c23;
  text-align: center;
  opacity: 1;
  visibility: visible;
}

.melis-loader .melis-plugin-indicator,
.melis-loader .melis-plugin-tools-box,
.melis-loader:hover .melis-plugin-tools-box {
  opacity: 0;
  visibility: hidden;
}

.overlay-loader{
    position: absolute;
    top: 0px;
    left: 0;
    z-index: 9998;
    min-height: 47px;
    height: 100%;
    width: 100%;
    background: #e61c23;
}
#content .overlay-loader{
    /* top: -47px; */
}
.overlay-loader .loader-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 26px;
    height: 26px;
    margin: -13px 0 0 -13px;
}
.overlay-loader .loader-icon.spinning-cog {
    -webkit-animation: spinning-cog 1.3s infinite ease;
    -moz-animation: spinning-cog 1.3s infinite ease;
    -ms-animation: spinning-cog 1.3s infinite ease;
    -o-animation: spinning-cog 1.3s infinite ease;
    animation: spinning-cog 1.3s infinite ease;
}
.btn-pulse {
    position: absolute;
    right: 20%;
    color: #e61c23;
    background: #fff;
    border: none;
    border-radius: 100%;
    width: 50px;
    height: 50px;
    line-height: 46px;
    border: 2px solid #e61c23;
    box-shadow: 0 0 0 0 rgb(147, 46, 42);
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    -webkit-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
    -moz-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
    -ms-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
    animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
}
.btn-pulse:hover {
    color: #fff;
    background: #e61c23;
    -webkit-animation: none;
    -moz-animation: none;
    -ms-animation: none;animation: none;
}

.melis-float-plugins {
    margin: 0 -15px;
    padding: 15px 0;
    border: 1px dashed #90312e;
    box-shadow: 0 0 0 0 rgb(147, 46, 42);
}

.melis-float-plugins:after {
    content: "";
    clear: both;
    display: block;
}

.melis-float-plugins .melis-ui-outlined {
    float: left;
    /*margin: 15px;*/
}

.ui-resize-indicator,
.ui-resize-input {
    position: absolute;
    top: 0;
    right: 0;
    width: 75px;
    height: 25px;
    color: #fff;
    font-size: 10px;
    font-weight: bold;
    letter-spacing: 1px;
    text-align: center;
    background: #e61c23;
    border-bottom-left-radius: 2px;
    z-index: 1;
}
.ui-resize-input input {
    margin: 0;
    padding: 0;
    border: none;
    background: none;
    color: #fff;
    text-align: center;
    height: auto;
    width: 25px;
    font-size: 10px;
    font-weight: bold;
}

.plugins-override-padding{
    padding-top: 10px;
}

.plugins-name-override-margin{
    margin-top: 0;
}

@-webkit-keyframes spinning-cog {
    0% { -webkit-transform: rotate(0deg) }
    20% { -webkit-transform: rotate(-45deg) }
    100% { -webkit-transform: rotate(360deg) }
}
@-moz-keyframes spinning-cog {
    0% { -moz-transform: rotate(0deg) }
    20% { -moz-transform: rotate(-45deg) }
    100% { -moz-transform: rotate(360deg) }
}
@-o-keyframes spinning-cog {
    0% { -o-transform: rotate(0deg) }
    20% { -o-transform: rotate(-45deg) }
    100% { -o-transform: rotate(360deg) }
}
@keyframes spinning-cog {
    0% { transform: rotate(0deg) }
    20% { transform: rotate(-45deg) }
    100% { transform: rotate(360deg) }
}
@-webkit-keyframes shrinking-cog {
    0% { -webkit-transform: scale(1) }
    20% { -webkit-transform: scale(1.2) }
    100% { -webkit-transform: scale(0) }
}
@-moz-keyframes shrinking-cog {
    0% { -moz-transform: scale(1) }
    20% { -moz-transform: scale(1.2) }
    100% { -moz-transform: scale(0) }
}
@-o-keyframes shrinking-cog {
    0% { -o-transform: scale(1) }
    20% { -o-transform: scale(1.2) }
    100% { -o-transform: scale(0) }
}
@keyframes shrinking-cog {
    0% { transform: scale(1) }
    20% { transform: scale(1.2) }
    100% { transform: scale(0) }
}
.overlay-loader .loader-icon.shrinking-cog {
    -webkit-animation: shrinking-cog .3s 1 ease forwards;
    -moz-animation: shrinking-cog .3s 1 ease forwards;
    -ms-animation: shrinking-cog .3s 1 ease forwards;
    -o-animation: shrinking-cog .3s 1 ease forwards;
    animation: shrinking-cog .3s 1 ease forwards;
}

@-webkit-keyframes pulse {to {box-shadow: 0 0 0 45px rgba(147, 46, 42, 0);}}
@-moz-keyframes pulse {to {box-shadow: 0 0 0 45px rgba(147, 46, 42, 0);}}
@-ms-keyframes pulse {to {box-shadow: 0 0 0 45px rgba(147, 46, 42, 0);}}
@keyframes pulse {to {box-shadow: 0 0 0 45px rgba(147, 46, 42, 0);}}
@-webkit-keyframes pulse-sm {to {box-shadow: 0 0 0 15px rgba(147, 46, 42, 0);}}
@-moz-keyframes pulse-sm {to {box-shadow: 0 0 0 15px rgba(147, 46, 42, 0);}}
@-ms-keyframes pulse-sm {to {box-shadow: 0 0 0 15px rgba(147, 46, 42, 0);}}
@keyframes pulse-sm {to {box-shadow: 0 0 0 15px rgba(147, 46, 42, 0);}}



/* Media Queries */
@media screen and (min-width: 768px) {
    .melis-cms-dnd-box {
        width: 224px;
        transform: translate3d(224px, 0, 0);
        -webkit-transform: translate3d(224px, 0, 0);
        -moz-transform: translate3d(224px, 0, 0);
        -ms-transform: translate3d(224px, 0, 0);
    }
    .melis-cms-ps-box .melis-cms-filter-btn,
    .melis-cms-category-btn {
        font-size: 14px;
    }

    .melis-cms-plugin-title {
        font-size: 14px;
    }
    .melis-cms-dnd-title {
        font-size: 14px;
    }

    .melis-cms-category-btn {
        font-size: 12px;
    }
}
