
/* fancytree custom CSS */
#id-mod-menu-dynatree span.fa{
    margin: 5px 4px 0 7px;
    color: #fff;
}
#id-mod-menu-dynatree span.dynatree-expander{
    color: #686868;
}
#id-mod-menu-dynatree .fancytree-container{
    padding: 10px 25px 12px 25px;
}

#id-mod-menu-dynatree .fancytree-node.fancytree-active{
    background: #3A3A3A;
    border-radius: 22px;
}

#id-mod-menu-dynatree span.fancytree-expander{
    margin-top: 2px;
    
    margin-right: 10px;
}

#id-mod-menu-dynatree span.fancytree-active .fancytree-title{
    background: #3A3A3A;
    border-radius: 22px;
}

#id-mod-menu-dynatree .fancytree-title{
    height: 24px;
    padding: 1px 10px 0 0;
    margin-right: 5px;
}

#id-mod-menu-dynatree span.fancytree-node{
    padding: 0 4px 2px 5px;
    margin-top: 3px;
    height: 24px;
}

span.fancytree-node{
    padding: 2px 0;
}

ul.fancytree-container{
    background: none;
    border: none;
}

span.fancytree-title {
    color: #fff;
}

span.fancytree-selected span.fancytree-title, 
span.fancytree-active span.fancytree-title,
.fancytree-treefocus span.fancytree-selected span.fancytree-title, 
.fancytree-treefocus span.fancytree-active span.fancytree-title{
    background: none;
}

.fancytree-node .fancytree-icon:before, .fancytree-node .fancytree-expander:before {
    position: absolute;
    top: 1px;
    left: 0;
    width: 16px;
    height: 16px;
    font-family: 'Glyphicons Regular';
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #686868;
}

.fancytree-node.fancytree-has-children .fancytree-expander:before {
    content: "\002B";
    font-size: 18px;
}

.fancytree-node.fancytree-expanded .fancytree-expander:before {
    content: "\2212";
}

.fancytree-node .fancytree-icon, 
.fancytree-node .fancytree-expander{
    background: none;
    position: relative;
}
.unpublish{
    height: 10px;
    width: 10px;
    background: #F39A0D;
    border-radius: 50px;
    display: inline-block;
    margin-left: 4px;
    position: relative;
    top: 1px;
}
#id-mod-menu-dynatree .unpublish{
    top: 1px;
}

.light-tree span.fancytree-title {
    color: #4e4e4e;
}

.light-tree span.fa{
    margin: 5px 4px 0 7px;
    color: #4e4e4e;
}
.light-tree span.dynatree-expander{
    color: #686868;
}
.light-tree .fancytree-container{
    padding: 10px 25px 12px 25px;
}

.light-tree .fancytree-node.fancytree-active{
    background: #932e2a;
    border-radius: 22px;
    color: #fff;
}

.light-tree span.fancytree-expander{
    margin-top: 2px;
    
    margin-right: 10px;
}

.light-tree span.fancytree-active .fancytree-title{
    background: #932e2a;
    border-radius: 22px;
    color: #fff;
}

.light-tree span.fancytree-active span {
    color: #fff;
}

.light-tree .fancytree-title{
    height: 24px;
    padding: 1px 10px 0 0;
    margin-right: 5px;
}

.light-tree span.fancytree-node{
    padding: 0 4px 2px 5px;
    margin-top: 3px;
    height: 24px;
}

.light-tree .fancytree-active .fancytree-icon:before, 
.light-tree .fancytree-active .fancytree-expander:before {
    color: #fff;
}

.light-tree.fancytree-ext-filter.fancytree-ext-filter-hide span.fancytree-title {
    color: #4e4e4e;
}

.light-tree.fancytree-ext-filter.fancytree-ext-filter-hide span.fa{
    margin: 5px 4px 0 7px;
    color: #4e4e4e;
}
.light-tree.fancytree-ext-filter.fancytree-ext-filter-hide span.dynatree-expander{
    color: #686868;
}
.light-tree.fancytree-ext-filter.fancytree-ext-filter-hide .fancytree-container{
    padding: 10px 25px 12px 25px;
}

.light-tree.fancytree-ext-filter.fancytree-ext-filter-hide .fancytree-node.fancytree-active{
    background: #932e2a;
    border-radius: 22px;
    color: #fff;
}

.light-tree.fancytree-ext-filter.fancytree-ext-filter-hide span.fancytree-expander{
    margin-top: 2px;
    
    margin-right: 10px;
}

.light-tree.fancytree-ext-filter.fancytree-ext-filter-hide span.fancytree-active .fancytree-title{
    background: #932e2a;
    border-radius: 22px;
    color: #fff;
}

.light-tree.fancytree-ext-filter.fancytree-ext-filter-hide span.fancytree-active span {
    color: #fff;
}

.light-tree.fancytree-ext-filter.fancytree-ext-filter-hide .fancytree-title{
    height: 24px;
    padding: 1px 10px 0 0;
    margin-right: 5px;
}

.light-tree.fancytree-ext-filter.fancytree-ext-filter-hide span.fancytree-node{
    padding: 0 4px 2px 5px;
    margin-top: 3px;
    height: 24px;
}

.light-tree.fancytree-ext-filter.fancytree-ext-filter-hide .fancytree-active .fancytree-icon:before, 
.light-tree.fancytree-ext-filter.fancytree-ext-filter-hide .fancytree-active .fancytree-expander:before {
    color: #fff;
}


/* ------------------------=[ RESPONSIVE ]=-------------------------*/
@media ( min-width: 768px ) {
    .fancytree-node.fancytree-has-children .fancytree-expander:before {
        font-size: 14px;
    }
    #id-mod-menu-dynatree span.fancytree-expander{
        margin-right: 0;
    }
}
