
#id_meliscms_dashboard{
	margin: 30px;
	border: 1px solid black;		
	padding: 10px;	
	width: 250px;
	height: 170px;	
	float: left;	
}

#meliscms_dashboard_logo{
	text-align: center;
}

#meliscms_dashboard_content{
	margin: 20px;
	text-align: center;
}


.meliscms_page_action_tabs {
	margin-left: -40px !important; 
}

.meliscms_page_action_tabs li{
	border: 1px solid black;	
	display: inline;
	padding: 10px;
}

.meliscms_center_page_tabs{
	display: inline;	
	margin-left: -40px !important;
	width: 300px;	
}

.meliscms_center_page_tabs li{
	display: inline;
	border: 1px solid black;		
	padding: 10px;	
	float: left;	
}

hr{
	margin: 20px;
}

.meliscms-search-box {
    position: relative;
    margin-bottom: 15px;
}

.meliscms-search-box input[type=text]::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #a7a7a7;
}

.meliscms-search-box input[type=text]::-moz-placeholder { /* Chrome/Opera/Safari */
  color: #a7a7a7;
}

.meliscms-search-box input[type=text]:-ms-input-placeholder { /* Chrome/Opera/Safari */
  color: #a7a7a7;
}

.meliscms-search-box.searching .sbox-icon {
	background-color: #eee;
	color: #fff;
}

.meliscms-search-box .sbox-icon {
    position: absolute;
    top: 2px;
    right: 40px;
    padding: 5px 15px;
    cursor: pointer;
    background: #fff;
}

.meliscms-search-box .sbox-icon i {
    font-size: 14px;
    color: #b5b1b1;
}

.fancy-tree-container {
    position: relative;
}

#find-page-dynatree {
    height: 325px;
    overflow-y: scroll;
}

#resetTreeView {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
}




/* tab head */
.widget.widget-tabs-double-2>.widget-head ul li:hover{
	height: 70px;
}
.page-content-container .widget.widget-tabs-double-2>.widget-head ul li a.glyphicons,
.nav-tabs>li>a{
	/* margin: 0; */
	/* border-bottom: 1px solid #e5e5e5; */
}
.page-content-container .widget.widget-tabs-double-2>.widget-head ul li a.glyphicons{
	min-width: 90px;
}
.widget.widget-tabs-double-2>.widget-head ul li.active{

}
/*
.widget.widget-tabs>.widget-head ul li.active a{
	border-color: transparent;
    border-radius: 0;
    margin: 0;
    box-shadow: none;
	text-shadow: none;
}
*/
.nav-tabs>li>a:hover, 
.nav-pills>li>a, 
.nav-pills>li>a:hover{
	background: #fff;
	color: #cb4040;
	text-shadow: none;
}
.sticky-pageactions{
	position: fixed;
    top: 47px;
    z-index: 5;
    border-top: 1px solid #e5e5e5;
	border-bottom: 1px solid #e5e5e5;
}




/* iframe */
.iframe-container .widget-head,
.iframe-container .widget-body > div{
	border-right: none !important;
}
.melis-iframe{
	display: block;
	margin: 0 auto;
	width: 100%;
	border: none;
}
 
/* Not editable zone */
.melis-noteditable{
	pading: 20px;
	color: #932e2a;
    font-size: 25px;	
}

/* page title */
div.content-heading h1{
    font-size: 24px;
    text-transform: uppercase;
}
#content .page-head-container .page-title{
	padding: 15px; 
}
#content .page-head-container .page-title p{
	margin: 0;
    font-family: 'Open Sans', sans-serif;
}
#content .page-head-container .page-title .saved-version-notif{
	display: block;
	margin: 0;
}
#content .page-head-container .page-title .saved-version-notif b{
	color: #F39A0D;
    font-weight: 300;
}
#content .page-head-container .page-title span.title{
    margin-top: 5px;
    text-transform: initial;
    font-weight: 300;
    font-size: 14px;
	color: #8E8E8E;
	word-spacing: .5px; 
}
#content .page-head-container .page-title .title-switch{
	margin-top: -15px;
	margin-right: -15px;
}


/* page tabs */
#content .container-level-a .meliscms_center_tabs .dataTables_wrapper{
	padding: 10px;
}
.page-content-container .widget.widget-tabs-double-2 .widget-body,
.page-content-container .widget.widget-tabs-double-2 .widget-body-regular,
.page-content-container .widget{
	border: none;
}
.widget.widget-tabs-double-2>.widget-head{
	border-bottom: 1px solid #e5e5e5;
	height: 70px;
}
.page-content-container .nav-tabs > li.active:focus > a,
.page-content-container .nav-tabs > li.active:active,
.page-content-container .nav-tabs > li.active {
	background: #932E2A;
}
.page-content-container .nav-tabs > li.active,
.page-content-container .nav-tabs > li:hover {
	background: #fff;
	border-bottom: 1px solid #e5e5e5;
}
.page-content-container .nav-tabs > li.active > a,
.page-content-container .nav-tabs > li.active:focus > a,
.page-content-container .nav-tabs > li.active:active > a {
	background: #fff;
	border: 1px solid #932E2A;
	border-bottom: none;
}
.page-content-container .nav-tabs > li.active {
	border-bottom: none;
}
.nav-tabs>li {
	margin-bottom: 0;
}

.widget.widget-tabs-double>.widget-head ul li a.f-awesome, 
.widget.widget-tabs-double>.widget-head ul li.active a.f-awesome {
    position: relative;
    padding: 9px 15px 0 38px;
    color: #932e2a;
    border-bottom-color: #eee;
}

.widget.widget-tabs-double>.widget-head ul li a.f-awesome .fa-sitemap,
.widget.widget-tabs-double>.widget-head ul li.active a.f-awesome .fa-sitemap {
    color: #932e2a;
    font-size: 12px;
    position: absolute;
    top: 11px;
    left: 12px;
}

.widget.widget-tabs-double>.widget-head .melis-whead-box ul li a.f-awesome .fa,
.widget.widget-tabs-double>.widget-head .melis-whead-box ul li.active a.f-awesome .fa {
    color: #932e2a;
    font-size: 12px;
    position: absolute;
    top: 11px;
    left: 12px;
}

.widget.widget-tabs>.widget-head ul li.active a.f-awesome i:before {
    color: #932e2a;
    font-size: 16px;
}

.meliscms_center_tabs {
	position: relative;
}

.melis-whead-box {
  float: left;
  height: 40px;
  overflow: hidden;
}
.widget.widget-tabs-double>.widget-head .melis-whead-box ul {
/*   -webkit-transition: all 0.4s ease-in-out;
-moz-transition: all 0.4s ease-in-out;
-ms-transition: all 0.4s ease-in-out;
-o-transition: all 0.4s ease-in-out;
transition: all 0.4s ease-in-out; */
}
.widget.widget-tabs-double>.widget-head .melis-whead-box ul li {
	border-right: 0;
	border-left: 0;
}
.widget.widget-tabs-double>.widget-head .melis-whead-box ul li a.f-awesome {
	margin: 0;
	color: #fff;
}
.widget.widget-tabs-double>.widget-head .melis-whead-box ul li a.f-awesome:hover {
	color: #932e2a;
}
.widget.widget-tabs-double>.widget-head .melis-whead-box ul li a.f-awesome:hover i:before {
	color: #932e2a;
}
.widget.widget-tabs-double>.widget-head .melis-whead-box ul li a.f-awesome i:before {
	color: #fff;
	font-size: 16px;
}
.widget.widget-tabs-double>.widget-head .melis-whead-box ul li.active a.f-awesome {
	color: #932e2a;
}
.widget.widget-tabs-double>.widget-head .melis-whead-box ul li.active a.f-awesome i:before {
	color: #932e2a;
	font-size: 16px;
}

.widget-melis-tabprev {
  display: none;
  float: left;
  cursor: pointer;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.widget-melis-tabprev .fa {
    padding: 9px 10px;
    color: #fff;
}
.widget-melis-tabnext {
	display: none;
	float: right;
	cursor: pointer;
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}
.widget-melis-tabnext .fa {
    padding: 9px 10px;
    color: #fff;
}
.widget-melis-tabprev:hover,
.widget-melis-tabnext:hover {
	background: #fff;
}
.widget-melis-tabprev:hover .fa,
.widget-melis-tabnext:hover .fa {
	color: #932e2a;
}
.widget-melis-tabprev.active {
	display: inline-block;
}

.widget-melis-tabnext.active {
	display: inline-block;
}
.modal-form-text-fix {
	padding: 0 0 0px;
}

.menubar.relative {
	position: relative;
}
.btn-disabled {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 99;
	cursor: wait;
}

/* Search Box in Treeview */
.meliscms-search-box.sidebar-treeview-search {
	margin: 10px 10px 0px;
	position: relative;
}

.meliscms-search-box.sidebar-treeview-search input {
    padding-right: 85px;
    color: #9a9a9a;
	background: #2c2c2c;
    border-color: #525252;
}

.meliscms-search-box.sidebar-treeview-search .sbox-icon {
    background: #383838;
    right: 44px;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}
.meliscms-search-box.sidebar-treeview-search .sbox-icon i {
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.meliscms-search-box.sidebar-treeview-search .sbox-icon:hover {
    background: #932e2a;
}
.meliscms-search-box.sidebar-treeview-search .sbox-icon:hover i {
	color: #fff;
}
.melis-overlay-loading {
display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100% - 45px);
    height: 100%;
    cursor: wait;
    background: rgba(0, 0, 0, 0.3);
}
.melis-search-overlay {
    position: absolute;
    top: 0;
    background: #932e2a;
    color: #fff;
    width: 100%;
    height: 34px;
    text-align: center;
    line-height: 34px;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 0.4px;
    z-index: 1;
}

body.modal-open {
	overflow: hidden !important;
}
.widget-dnd-modal {

}
/* ===============================================================[ -= RESPONSIVE =- ]==================================================================== */

@media( min-width: 768px ){
	
	div.content-heading h1{
		display: inline-block;
	}
	#content .page-head-container .page-title p{
		display: inline-block;
	}
	
	/* tab head */
	.widget.widget-tabs-double-2>.widget-head ul li:hover{
		height: 70px;
		border-bottom: 1px solid #e5e5e5;
	}
	.widget.widget-tabs>.widget-head ul li.active a.glyphicons{
		/* border-bottom-color: transparent; */
		border-color: #eee;
	}
	
}

@media (max-width: 991px) {
	.widget-dnd-modal .widget-head {
		height: 39px !important;
	}
	.widget-dnd-modal > .widget-head .melis-whead-box ul li {
		float: left !important;
		white-space: nowrap;
		overflow: hidden;
	}
}

@media( min-width: 980px ){
	#content .page-head-container .page-title p{
		margin-left: 10px;
	}
}














