
#id_meliscms_dashboard{
	margin: 30px;
	border: 1px solid black;		
	padding: 10px;	
	width: 250px;
	height: 170px;	
	float: left;	
}

#meliscms_dashboard_logo{
	text-align: center;
}

#meliscms_dashboard_content{
	margin: 20px;
	text-align: center;
}


.meliscms_page_action_tabs {
	margin-left: -40px !important; 
}

.meliscms_page_action_tabs li{
	border: 1px solid black;	
	display: inline;
	padding: 10px;
}

.meliscms_center_page_tabs{
	display: inline;	
	margin-left: -40px !important;
	width: 300px;	
}

.meliscms_center_page_tabs li{
	display: inline;
	border: 1px solid black;		
	padding: 10px;	
	float: left;	
}

hr{
	margin: 20px;
}

.meliscms-search-box {
    position: relative;
    margin-bottom: 15px;
}

.meliscms-search-box input[type=text]::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #a7a7a7;
}

.meliscms-search-box input[type=text]::-moz-placeholder { /* Chrome/Opera/Safari */
  color: #a7a7a7;
}

.meliscms-search-box input[type=text]:-ms-input-placeholder { /* Chrome/Opera/Safari */
  color: #a7a7a7;
}

.meliscms-search-box.searching .sbox-icon {
	background-color: #eee;
	color: #fff;
}

.meliscms-search-box .sbox-icon {
    position: absolute;
    top: 2px;
    right: 40px;
    padding: 5px 15px;
    cursor: pointer;
    background: #fff;
}

.meliscms-search-box .sbox-icon i {
    font-size: 14px;
    color: #b5b1b1;
}

.fancy-tree-container {
    position: relative;
}

#find-page-dynatree {
    height: 325px;
    overflow-y: scroll;
}

#resetTreeView {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
}




/* tab head */
.widget.widget-tabs-double-2>.widget-head ul li:hover{
	height: 70px;
}
.page-content-container .widget.widget-tabs-double-2>.widget-head ul li a.glyphicons,
.nav-tabs>li>a{
	/* margin: 0; */
	/* border-bottom: 1px solid #e5e5e5; */
}
.page-content-container .widget.widget-tabs-double-2>.widget-head ul li a.glyphicons{
	min-width: 90px;
}
.widget.widget-tabs-double-2>.widget-head ul li.active{

}
/*
.widget.widget-tabs>.widget-head ul li.active a{
	border-color: transparent;
    border-radius: 0;
    margin: 0;
    box-shadow: none;
	text-shadow: none;
}
*/
.nav-tabs>li>a:hover, 
.nav-pills>li>a, 
.nav-pills>li>a:hover{
	background: #fff;
	color: #cb4040;
	text-shadow: none;
}
.sticky-pageactions{
	position: fixed;
    top: 47px;
    z-index: 5;
    border-top: 1px solid #e5e5e5;
	border-bottom: 1px solid #e5e5e5;
}




/* iframe */
.iframe-container .widget-head,
.iframe-container .widget-body > div{
	border-right: none !important;
}
.melis-iframe{
	display: block;
	margin: 0 auto;
	width: 100%;
	border: none;
}
 
/* Not editable zone */
.melis-noteditable{
	pading: 20px;
	color: #932e2a;
    font-size: 25px;	
}

/* page title */
div.content-heading h1{
    font-size: 24px;
    text-transform: uppercase;
}
#content .page-head-container .page-title{
	padding: 15px; 
}
#content .page-head-container .page-title p{
	margin: 0;
    font-family: 'Open Sans', sans-serif;
}
#content .page-head-container .page-title .saved-version-notif{
	display: block;
	margin: 0;
}
#content .page-head-container .page-title .saved-version-notif b{
	color: #F39A0D;
    font-weight: 300;
}
#content .page-head-container .page-title span.title{
    margin-top: 5px;
    text-transform: initial;
    font-weight: 300;
    font-size: 14px;
	color: #8E8E8E;
	word-spacing: .5px; 
}
#content .page-head-container .page-title .title-switch{
	margin-top: -15px;
	margin-right: -15px;
}


/* page tabs */
#content .container-level-a .meliscms_center_tabs .dataTables_wrapper{
	padding: 10px;
}
.page-content-container .widget.widget-tabs-double-2 .widget-body,
.page-content-container .widget.widget-tabs-double-2 .widget-body-regular,
.page-content-container .widget{
	border: none;
}
.widget.widget-tabs-double-2>.widget-head{
	border-bottom: 1px solid #e5e5e5;
	height: 70px;
}
.page-content-container .nav-tabs > li.active:focus > a,
.page-content-container .nav-tabs > li.active:active,
.page-content-container .nav-tabs > li.active {
	background: #932E2A;
}
.page-content-container .nav-tabs > li.active,
.page-content-container .nav-tabs > li:hover {
	background: #fff;
	border-bottom: 1px solid #e5e5e5;
}
.page-content-container .nav-tabs > li.active > a,
.page-content-container .nav-tabs > li.active:focus > a,
.page-content-container .nav-tabs > li.active:active > a {
	background: #fff;
	border: 1px solid #932E2A;
	border-bottom: none;
}
.page-content-container .nav-tabs > li.active {
	border-bottom: none;
}
.nav-tabs>li {
	margin-bottom: 0;
}

.widget.widget-tabs-double>.widget-head ul li a.f-awesome, 
.widget.widget-tabs-double>.widget-head ul li.active a.f-awesome {
    position: relative;
    padding: 9px 15px 0 38px;
    color: #932e2a;
    border-bottom-color: #eee;
}

.widget.widget-tabs-double>.widget-head ul li a.f-awesome .fa-sitemap,
.widget.widget-tabs-double>.widget-head ul li.active a.f-awesome .fa-sitemap {
    color: #932e2a;
    font-size: 12px;
    position: absolute;
    top: 11px;
    left: 12px;
}

.widget.widget-tabs>.widget-head ul li.active a.f-awesome i:before {
    color: #932e2a;
    font-size: 16px;
}


/* ===============================================================[ -= RESPONSIVE =- ]==================================================================== */

@media( min-width: 768px ){
	
	div.content-heading h1{
		display: inline-block;
	}
	#content .page-head-container .page-title p{
		display: inline-block;
	}
	
	/* tab head */
	.widget.widget-tabs-double-2>.widget-head ul li:hover{
		height: 70px;
		border-bottom: 1px solid #e5e5e5;
	}
	.widget.widget-tabs>.widget-head ul li.active a.glyphicons{
		/* border-bottom-color: transparent; */
		border-color: #eee;
	}
	
}

@media( min-width: 980px ){
	#content .page-head-container .page-title p{
		margin-left: 10px;
	}
}














