.mini-template-tool-table-image {
    /*max-height: 116px;*/
    /*height: auto;*/
    max-width: 195px;
    width: auto;
}

label[for="miniTemplateThumbnail"] .badge {
    display: none;
}

@media (max-width: 575.98px) {
    label[for="miniTemplateThumbnail"] {
        width: 100%;
    }

    #melis-cms-minitemplate-add-btn,
    #melis-cms-minitemplate-edit-btn {
        width: 100%;
    }
}

@media (max-width: 991.98px) {
    #new-minitemplate-thumbnail {
        width: 100%;
    }
}